In [18]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import preprocessing as pp

Importación de Datasets

In [19]:
# Definición de ruta de archivos

file_path = '.\data\\v4\\'

In [20]:
# Demografico renuncias

file_name = 'Demograficos-Renuncias-Liverpool.csv'
demo_res = pd.read_csv(file_path + file_name)
demo_res.sample(5)

,Unnamed: 0,Nº pers.,Fecha nacimiento,Genero,No Hijos,Fecha ingreso,Edad ingreso,CP Vivienda,CP Trabajo,Ubicación,...,Fecha Salida,Antigüedad,Edad salida,Año salida,Desc Medida,Gpo Per,Desc Gpo Pers,Ultima Evaluación,Función,Desc Fun
19234,19234,14930374,1991-08-31,Hombre,0,2019-03-26,27,54695,54680,95,...,2019-06-24,0,27,2019,Baja,D,Vía Planta No Sind.,3.000,966,Personal Operativo
51123,51123,14566172,1996-02-17,Mujer,0,2018-05-21,22,72260,72220,386,...,2020-09-01,2,24,2020,Baja,B,Planta No Sind.,2.604,897,Vendedor Cajero
106536,106536,15372682,2002-08-02,Hombre,0,2020-10-16,18,45654,45609,96,...,2022-08-12,1,20,2022,Baja,B,Planta No Sind.,3.040,943,Recepcion Mercancia
112756,112756,70629834,1986-04-08,Hombre,0,2022-08-02,36,25093,25290,959,...,2022-11-04,0,36,2022,Baja Suburbia,O,SBB Planta,3.000,70000457,Jefe Mantenimiento
103159,103159,10568730,1962-06-29,Mujer,0,2005-01-27,42,64440,64750,45,...,2022-07-01,17,60,2022,Baja,B,Planta No Sind.,4.480,897,Vendedor Cajero

In [21]:
# Histórico renuncias

file_name = 'Historico-Renuncias-Liverpool.csv'
his_res = pd.read_csv(file_path + file_name)
his_res.sample(5)

,Unnamed: 0,Nº pers.,Hasta,Desde,Soc.,Desc Soc,DivP,Desc Div Per,GrPer,Desc Gpo Personal,ÁPers,Desc APers,Clave de organización,Ubicación,Un.org.,Desc Un Org,Función,Desc Función
119270,119270,13025655,2015-01-04 00:00:00,2015-01-01 00:00:00,211,Operadora Comercial Liver,LAGU,Liverpool Aguascalientes,F,Eventual No Sind.,1G,Personal General,44,COBRANZAS,50780608,Jefatura Cobranza L Aguas,991,Gestor Telefonico A
463512,463512,70151059,2018-01-14 00:00:00,2018-01-01 00:00:00,215,Operadora Suburbia SRL CV,630,Suburbia El Rosario,O,SBB Planta,1O,SBB Operación,70000011.0,Operacion Tienda,70000038,SUBURBIA EL ROSARIO,70000096,Subjefe Piso Ventas
555450,555450,70605532,2022-04-07 00:00:00,2022-04-01 00:00:00,112,Suburbia S. de R.L. de CV,519,Suburbia Plaza Del Sol,O,SBB Planta,1O,SBB Operación,70000103.0,CAJAS,70000080,SUBURBIA PLAZA DEL SOL,70000108,Cajero
14312,14312,528305,2004-01-31 00:00:00,2000-01-01 00:00:00,300,Operadora Coml las Nvas F,OCEN,Fábricas Centro Guadalajara,A,Planta Sind.,1V,TC. Vendedor,551,OBSOLETA ZAPATOS EXCLUSIVOS,5726,Ventas Zap. Exclusivos F,897,Vendedor Cajero
82741,82741,12240808,2012-05-07 00:00:00,2012-05-02 00:00:00,130,Tiendas Depart. Liver. SA,LTAM,Liverpool Tampico,F,Eventual No Sind.,1G,Personal General,60,ENVOLTURAS,50634954,Envolturas L Tampico,952,Auxiliar Envolturas

In [22]:
# Demografico activos

file_name = 'Demograficos-Activos-Liverpool.csv'
demo_act = pd.read_csv(file_path + file_name)
demo_act.sample(5)

,Unnamed: 0,Nº pers.,Función,Denominación función,Ubicación,Desc Ubicación,Fecha Nac,Edad,Clv Edo Civ,Edo Civil,Clv Genero,Genero,Hijos,Fecha Ingreso,Antigüedad
4815,4815,70664386,70000103,Auxiliar Cajero,532,Suburbia Cuautitlán,1983-08-23,40.271978,4,U.Libr,2,Femenino,0,2022-11-09,0.920548
1204,1204,15211582,895,Especialista Prevencion,169,L TUXPAN,1993-08-27,30.225275,5,Separ.,1,Masculino,1,2019-11-26,3.876712
3666,3666,15521870,897,Vendedor Cajero,76,Liverpool Mérida,1989-06-09,34.456044,1,Casado,2,Femenino,0,2021-07-16,2.238356
456,456,12925279,770,Encargado Prevencion,379,Pottery Barn León,1992-10-23,31.071429,1,Casado,1,Masculino,0,2014-05-30,9.372603
2933,2933,70155628,70000126,Recibidor,532,Suburbia Cuautitlán,1962-08-23,61.343407,1,Casado,2,Femenino,0,2017-08-24,6.134247

In [23]:
# Historico Activos

file_name = 'Historico-Activos-Liverpool.csv'
his_act = pd.read_csv(file_path + file_name)
his_act.sample(5)

,Unnamed: 0,Nº pers.,Desde,Hasta,Soc.,Desc Soc,Div.,Desc Div,SDvPer.,Desc SubD Per,...,ÁPers,Desc Area Pers,Clv Org,Desc Clv Org,Un.org.,Desc Unidad Org,Posición,Desc Pos,Función,Desc Fun
10361,10361,11959556,2013-11-05,2014-01-31 00:00:00,130,Tiendas Depart. Liver. SA,NaN,División Corporativo,LINT,Liv. Interlomas,...,1V,TC. Vendedor,634,LINEA BLAN,13878,Ventas Linea Blanca L Int,68671,Vendedor Cajero Linea Bla,897,Vendedor Cajero
5107,5107,10732494,2019-08-28,2020-03-02 00:00:00,212,Almacenes Com Liver SA de,101.0,Comercial Liverpool,MX01,México Zona 1,...,5P,Personal Servicio Ex,10,MTTO,52307522,Externos Mantenimiento L,52359212,Externo,766,Externo
9048,9048,11678881,2023-08-01,9999-12-31 00:00:00,110,"Distribuidora Liverpool,",101.0,Comercial Liverpool,MX04,México Zona 4,...,1G,Personal General,987,ALTERACION,9384,Alteraciones L Tepic,52334751,Auxiliar Alteraciones y S,52074255,Auxiliar Alteraciones y S
1246,1246,173268,2016-06-01,2016-10-31 00:00:00,212,Almacenes Com Liver SA de,NaN,División Corporativo,MX1A,México Zona 1A,...,1V,TC. Vendedor,245,CONTEMPORA,52115849,Ventas Hombre Contemporan,11291,Vendedor Cajero Hombre Co,897,Vendedor Cajero
15942,15942,13176686,2021-07-01,9999-12-31 00:00:00,110,"Distribuidora Liverpool,",101.0,Comercial Liverpool,MX01,México Zona 1,...,1V,TC. Vendedor,203,ZAPATOS DE,8170,Ventas Zapatos Deportivos,54212,Vendedor Cajero Zapatos D,897,Vendedor Cajero

Funciones de carga y lectura

In [24]:
# Establecer Index específico
def setCustomIndex(df, column = 0):
    df.set_index(df.columns[column], inplace=True)
    df.index.name = 'index'

    return df

# Ejemplo de uso
setCustomIndex(demo_res, 0)
demo_res.head(3)

,Nº pers.,Fecha nacimiento,Genero,No Hijos,Fecha ingreso,Edad ingreso,CP Vivienda,CP Trabajo,Ubicación,Descubica,Fecha Salida,Antigüedad,Edad salida,Año salida,Desc Medida,Gpo Per,Desc Gpo Pers,Ultima Evaluación,Función,Desc Fun
index,,,,,,,,,,,,,,,,,,,,
0,14742898,1989-06-12,Hombre,1,2018-10-10,29,1100,1140,98,CeDis Regional Tacubaya,2019-01-01,0,29,2019,Baja,F,Eventual No Sind.,3.0,458,Auxiliar Armador
1,14691625,1993-07-26,Hombre,0,2018-09-06,25,1120,1140,98,CeDis Regional Tacubaya,2019-01-01,0,25,2019,Baja,D,Vía Planta No Sind.,3.0,919,Operador Camioneta
2,14714343,1978-10-04,Mujer,3,2018-09-24,39,1140,1140,98,CeDis Regional Tacubaya,2019-01-01,0,40,2019,Baja,F,Eventual No Sind.,3.0,927,Inteligencia Operativa

In [25]:
# Mostrar Dataframe
def showDF(df, name = ''):
    print(f'Las primeras 5 entradas del Dataframe {name} son:')
    return df.head(5)

# Ejemplo de uso
showDF(demo_res, 'Demografico Renuncias')

Las primeras 5 entradas del Dataframe Demografico Renuncias son:

,Nº pers.,Fecha nacimiento,Genero,No Hijos,Fecha ingreso,Edad ingreso,CP Vivienda,CP Trabajo,Ubicación,Descubica,Fecha Salida,Antigüedad,Edad salida,Año salida,Desc Medida,Gpo Per,Desc Gpo Pers,Ultima Evaluación,Función,Desc Fun
index,,,,,,,,,,,,,,,,,,,,
0,14742898,1989-06-12,Hombre,1,2018-10-10,29,1100,1140,98,CeDis Regional Tacubaya,2019-01-01,0,29,2019,Baja,F,Eventual No Sind.,3.0,458,Auxiliar Armador
1,14691625,1993-07-26,Hombre,0,2018-09-06,25,1120,1140,98,CeDis Regional Tacubaya,2019-01-01,0,25,2019,Baja,D,Vía Planta No Sind.,3.0,919,Operador Camioneta
2,14714343,1978-10-04,Mujer,3,2018-09-24,39,1140,1140,98,CeDis Regional Tacubaya,2019-01-01,0,40,2019,Baja,F,Eventual No Sind.,3.0,927,Inteligencia Operativa
3,14790783,1996-10-20,Hombre,0,2018-11-12,22,1140,1140,98,CeDis Regional Tacubaya,2019-01-01,0,22,2019,Baja,F,Eventual No Sind.,3.0,966,Personal Operativo
4,14701213,2000-08-23,Hombre,0,2018-09-12,18,1160,1140,98,CeDis Regional Tacubaya,2019-01-01,0,18,2019,Baja,D,Vía Planta No Sind.,3.0,966,Personal Operativo

In [26]:
# Dimensiones del Dataframe
def dimensions(df, name = ''):
    n_rows, n_cols = df.shape
    print(f'El Dataset {name} cuenta con {n_cols} columnas y {n_rows} filas.')

# Ejemplo de uso
dimensions(demo_res, 'Demografico Renuncias')

El Dataset Demografico Renuncias cuenta con 20 columnas y 117160 filas.

In [27]:
# Checar el tipo de Datos
def dataTypes(df, name = ''):
    print(f'Los tipos de datos del dataset {name} son:')
    return df.info()

# Ejemplo de uso
dataTypes(demo_res, 'Demografico Renuncias')

Los tipos de datos del dataset Demografico Renuncias son:
<class 'pandas.core.frame.DataFrame'>
Index: 117160 entries, 0 to 117159
Data columns (total 20 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Nº pers.           117160 non-null  int64
 1   Fecha nacimiento   117160 non-null  object
 2   Genero             117160 non-null  object
 3   No Hijos           117160 non-null  int64
 4   Fecha ingreso      117160 non-null  object
 5   Edad ingreso       117160 non-null  int64
 6   CP Vivienda        117160 non-null  object
 7   CP Trabajo         117160 non-null  int64
 8   Ubicación          117160 non-null  int64
 9   Descubica          117160 non-null  object
 10  Fecha Salida       117160 non-null  object
 11  Antigüedad         117160 non-null  int64
 12  Edad salida        117160 non-null  int64
 13  Año salida         117160 non-null  int64
 14  Desc Medida        117160 non-null  object
 15  Gpo Per            117160 non-null  object
 16  Desc Gpo Pers      117160 non-null  object
 17  Ultima Evaluación  117160 non-null  float64
 18  Función            117160 non-null  int64
 19  Desc Fun           117160 non-null  object
dtypes: float64(1), int64(9), object(10)
memory usage: 18.8+ MB

Limpieza y preprocesamiento

In [28]:
# Resumen estadístico del Dataframe
def summaryStats(df, name = ''):
    print(f'El resumen estadístico de los valores númericos del Dataframe {name} es:')
    return df.describe(include='number')

# Ejemplo de uso
summaryStats(demo_res, 'Demografico Renuncias')

El resumen estadístico de los valores númericos del Dataframe Demografico Renuncias es:

,Nº pers.,No Hijos,Edad ingreso,CP Trabajo,Ubicación,Antigüedad,Edad salida,Año salida,Ultima Evaluación,Función
count,1.171600e+05,117160.000000,117160.000000,117160.000000,117160.000000,117160.000000,117160.000000,117160.000000,117160.000000,1.171600e+05
mean,2.679092e+07,0.496441,27.573421,50422.162649,305.294921,1.629549,29.539962,2020.462760,3.006699,2.029154e+07
std,2.317385e+07,0.929705,9.047680,26904.670133,557.940939,3.805481,9.922022,1.201942,0.364039,3.039660e+07
min,3.369000e+03,0.000000,17.000000,234.000000,0.000000,0.000000,17.000000,2019.000000,1.000000,0.000000e+00
25%,1.473776e+07,0.000000,21.000000,31214.000000,78.000000,0.000000,22.000000,2019.000000,3.000000,8.970000e+02
50%,1.525221e+07,0.000000,25.000000,54680.000000,134.000000,0.000000,26.000000,2021.000000,3.000000,9.450000e+02
75%,1.584382e+07,1.000000,32.000000,72062.000000,499.000000,2.000000,34.000000,2022.000000,3.000000,5.226208e+07
max,7.067521e+07,8.000000,74.000000,99014.000000,9024.000000,45.000000,79.000000,2023.000000,5.000000,7.000048e+07

In [29]:
# Valores faltantes por Dataframe
def nullValues(df, name = ''):
    print(f'Valores nulos por columna del Dataframe {name}:')
    return df.isnull().sum()

# Ejemplo de uso
nullValues(demo_res, 'Demografico Renuncias')

Valores nulos por columna del Dataframe Demografico Renuncias:

Nº pers.             0
Fecha nacimiento     0
Genero               0
No Hijos             0
Fecha ingreso        0
Edad ingreso         0
CP Vivienda          0
CP Trabajo           0
Ubicación            0
Descubica            0
Fecha Salida         0
Antigüedad           0
Edad salida          0
Año salida           0
Desc Medida          0
Gpo Per              0
Desc Gpo Pers        0
Ultima Evaluación    0
Función              0
Desc Fun             0
dtype: int64